*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.signup {
    width: 340px;
    height: 640px;
    margin: 0 auto;
    background-color: #FFEB33;
}

.inner{
    width: 240px;
    margin: 0 auto;
    padding-top: 70px;
}

.logoContainer{
    width: 100%;
    height: 146px;
    display: flex;
    justify-content: center;
}

.logo{
    width: 225px;
    height: 146px;
    background: wheat;
}

.container{
    margin-bottom: 15px;
}
